/* ================================================================= */
/* REGION  |  Custom Font Loading - Open Sans from CDN              */
/* ================================================================= */

/* Open Sans Font Family - Regular (400) */
/* ----------------------------------------------------------------- */
@font-face {
    font-family                        : 'Open Sans';
    font-style                         : normal;
    font-weight                        : 400;
    font-display                       : swap;
    src                                : url('https://www.noble-architecture.com/na-apps/01__Assets__NaApps__CommonAssets/NaApps__CommonFonts/CommonFont-01__OpenSans__Regular__.ttf') format('truetype');
}


/* Open Sans Font Family - SemiBold (600) */
/* ----------------------------------------------------------------- */
@font-face {
    font-family                        : 'Open Sans';
    font-style                         : normal;
    font-weight                        : 600;
    font-display                       : swap;
    src                                : url('https://www.noble-architecture.com/na-apps/01__Assets__NaApps__CommonAssets/NaApps__CommonFonts/CommonFont-01__OpenSans__SemiBold__.ttf') format('truetype');
}


/* Open Sans Font Family - Light (300) */
/* ----------------------------------------------------------------- */
@font-face {
    font-family                        : 'Open Sans';
    font-style                         : normal;
    font-weight                        : 300;
    font-display                       : swap;
    src                                : url('https://www.noble-architecture.com/na-apps/01__Assets__NaApps__CommonAssets/NaApps__CommonFonts/CommonFont-01__OpenSans__Light__.ttf') format('truetype');
}

/* endregion -------------------------------------------------------- */

