# System files
.DS_Store
Thumbs.db
desktop.ini

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependencies
node_modules/
vendor/
bower_components/

# Build directories
dist/
build/
out/
public/build/

# Internal tools and private content - uncomment to prevent them from being included in GitHub
# SN20_-_Static-Web-Applications/
# private/

# Environmental variables
.env
.env.*
!.env.example

# Temp files
*.tmp
*.temp

# Temp folders & caches
.cache/
temp/

# Archive directories
# Ensure this directory is not tracked by Git   
# Cuts down on the size of the repository
assets-archive/

# Ignore all files in the assets-archive directory
assets-archive/*

# Ignore Windows shortcuts
# Windows shortcuts can contain sensitive information like absolute paths to system files
# Removed as it could reveal username or directory structure and become a security risk
*.lnk

# Ignore backup files
*.--BAK


# Ignore the WE10_--_Public-Repo_--_Live-Website.code-workspace file
WE10_--_Public-Repo_--_Live-Website.code-workspace